<nav class="main-nav">
    <!-- ***** Logo Start ***** -->
    <a href="/" class="logo" >
        .E-Voting
    </a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Menu Start ***** -->
    <ul class="nav">
        <li class="scroll-to-section"><a href="/admin-home" class="active">Home</a></li>
        <li class="scroll-to-section"><a href="#about">About</a></li>
        <li ><a href="/admin-notification">Notification</a></li>
        <!-- <li class="scroll-to-section"><a href="#projects">Projects</a></li> -->
        <li class="submenu">
            <a href="javascript:;">Admin</a>
            <ul>
                <li><a href="/manage-citizen">Manage Citizen</a></li>
               
                <li><a href="/manage-candidate">Manage candidate</a></li>
                <li><a href="/manage-votes">Number of Votes</a></li>
                <li><a href="/manage-election">Manage Election Admin</a></li>
                

            </ul>
        </li>

        <li ><a href="/">Log Out</a></li>
        <!-- <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li>  -->
        <!-- <div class="search-icon">
            <a href="#search"><i class="fa fa-search"></i></a>
        </div> -->
    </ul>        
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
    <!-- ***** Menu End ***** -->
</nav>